html {
    font-size: 20px;
    text-decoration: center;
}
body {
    background-image: url(./349070316_565401705527324_3339018626866704823_n.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}
.nogo.text-primary {
    position: sticky;
    margin-top: 10px;
}
menu {
    display: flex;
}
menu li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    display: block;
}
h1 {
    text-align: center;
    color: whitesmoke;
    border: 1px solid red;
    margin: 0;
    background-color: green;
    position: sticky;
    margin-top: 12px;
    top:0;
}
h2 {
    color: blue;
    margin: 0;
}
h3 {
    color:blueviolet;
    margin: 0;
}
h4 {
    color:blueviolet;
    margin: 0;
}
h5 {
    color:brown;
    margin: 0;
}
li {
    color: green;
    margin: 0;
    padding: 0;
}
div {
    color:green;
    margin: 0;
}
p {
    color : green;
    margin: 0;
}
form-group {
    color: gray;
}
image {
    position: 100px;
    text-align: center;
}
#top {
    text-align: center;
    font-weight: 200;
    line-height: 30px;
    margin-top: 50px;
}
sidebar img {
    display: block;
    margin: 0%;
    border: 1px;
    border-radius: 0%;
}
main img {
    display: block;
    margin: 0 auto;
    text-align: center;    
}
a {
    text-decoration: underline;
    padding: 8px 12px;
}
.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.list li {
    padding: 0.5rem 0;
    border-bottom: red dotted 1px;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    background-image: url("nhathuynguyenhai1999/bds-datvang-chunggroup/349070316_565401705527324_3339018626866704823_n.jpg");   
}
script {
    font-size: large;
    color: brown;
    padding: 1.2rem;
}
span {
    font-size: smaller;
    color: green;
    padding: 1.5rem;
}
/* Chỉnh làm trang web */
html  {
    font-family: 'Times New Roman', Times, serif;
}
body {

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: green;
}
#header{
    height: 190px;
    background-color: black;
    color: white;      
}
#nav, .subnav {
    list-style-type: none;
}
#nav > li {
    display: inline-block;
}
#nav li {
    display: inline-block;
    position: relative;
}
#nav {
    display:inline-block;
}
#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    background: wheat;
    background-color: orangered;
    box-shadow: 0 0 10px black;
    left : 0;
    top: 100%;
}
#nav .subnav a {
    color: black;
    padding: 0 16px;
    line-height: 38px;
}
#nav > li > a {
    color: white;
    text-transform: uppercase;
}
#nav .subnav li:hover a {
    color: black;
    background-color: white;
}
#nav li a {
    color: orange;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav {
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
    color: black;
    background-color: white;
}
#nav li:hover a {
    color: black;
    background-color: white;
}
#slider {
    background-color: grey;
    min-height: 500px;
}
#main {

}
#content {

}
#footer {

}
#header .search-btn {
    float:right;
    padding: 0 21px;
    cursor: pointer;
}
#header .search-btn:hover {
    color: red;
}
#header .search-icon{
    font-size: 22px;
    color: white;
    line-height: 46px;
}
img {
    width: 100px;
    height: 100px;
}
